.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #182140 0%, #2c2e44 100%);
    align-content: center;
    z-index: -1;
    font-size: 1.5em;
    font-family: monospace;
}