#home {
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1.5em;
    font-family: monospace;
    margin-bottom: 0;
}

#center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  margin-top: 40vh;
  color: black;
  font-size: 2em
}

#tagline {
  font-size: .5em;
}

#timer-wrapper {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
  right: 0;
  bottom: 1vh;
  color: black;
  z-index: 2;
}
