.jumbotron {
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    background: black/*linear-gradient(180deg, #444656 0%, #182140 100%)*/;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: -1;
    font-size: 1.5em;
    font-family: monospace;
    margin-bottom: 0;
}

#center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  margin-top: 40vh;
  color: green;
  font-size: 2em
}

#tagline {
  font-size: .5em;
}

#timer-wrapper {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
  right: 0;
  bottom: 1vh;
  color: green;
}

/*////navbar////*/

#nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}

@media (max-width: 1024px) {
  .navbar-collapse > #nav-items {
    flex-direction: column;
    align-items: flex-end;
  }
}

#navbrand {
  height: 7vh;
}
