body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Comfortaa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #819e78;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  z-index: -2;
}

/*////navbar////*/

#nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

@media (max-width: 991px) {
  .navbar-collapse > #nav-items {
    flex-direction: column;
    align-items: flex-end;
  }
}

#navbrand {
  height: 7vh;
}

.nav-item > a {
    color: black;
}

.nav-item > a:hover {
    color: gray;
}

.title {
  font-size: 4em;
  display: flex;
  justify-content: center;
  color: black;
  flex-grow: .2;
}

.section {
    padding-bottom: 3vh;
    height: 100vh;
}


@media (max-width: 1024px) {
    .section {
        height: auto;
    }
}

@media (max-height: 800px) {
    .section {
        height: auto;
    }
}
